fastapi==0.128.8
uvicorn[standard]==0.39.0
python-multipart==0.0.20
mido==1.3.3
demucs==4.0.1
imageio-ffmpeg==0.6.0
torch==2.8.0
torchaudio==2.8.0
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.6.1
numba==0.60.0
llvmlite==0.43.0
librosa==0.11.0
soundfile==0.13.1
pretty-midi==0.2.11
git+https://github.com/xavriley/ADTOF-pytorch.git@85c192e78f716ea0b111cc8a5ee4a8f6a3a4f8a9
